.footer{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
   @include flex(center,center);
   flex-direction: column;
   background-size: auto;
     &__media{
         font-size:40px
     }
    p{
        font-size:25px;
        color:$main-color;
    }

    @include mobile {
        &__media{
            font-size:20px;
        }
        p{
            font-size:15px;
            color:$main-color;
        }
    }
}